<div>
	<label class="Description-label">Description</label>
	<input type="text" name="description">
	<button type="button" id="cancelButton">CANCEL</button>
	<button type="button" id="nextButton">NEXT</button>
</div>