<div id="modal-add-background" ></div>
<div id= "main-addpage-modal" >
		<div class="addPage_titles">
			<label class="add-title-label">Title</label>
			<input type="text" name="add-title" class="add-title-input">
		</div>
		<div class="addPage_titles">
			<label class="add-URL-label">Photo URL</label>
			<input type="text" name="add-URL" class="add-URL-input">
		</div>
		
		<div class="addPage_titles">
			<label class="add-serves-label">Serves</label>
			<select class="serving-size">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>			
		</div>
		<div class="addPage_titles">
			<label class="add-prep-time-label">Prep Time</label>
			<select class="prep-Time">
				<option value="0">0 minutes</option>
				<option value="5">5 minutes</option>
				<option value="10">10 minutes</option>
				<option value="15">15 minutes</option>
				<option value="20">20 minutes</option>
				<option value="25">25 minutes</option>
				<option value="30">30 minutes</option>
				<option value="35">35 minutes</option>
				<option value="40">40 minutes</option>
				<option value="45">45 minutes</option>
				<option value="50">50 minutes</option>
				<option value="55">55 minutes</option>
				<option value="60">60 minutes</option>
				<option value="65">65 minutes</option>
				<option value="70">70 minutes</option>
				<option value="75">75 minutes</option>
				<option value="80">80 minutes</option>
				<option value="85">85 minutes</option>
				<option value="90">90 minutes</option>
				<option value="95">95 minutes</option>
				<option value="100">100 minutes</option>
				<option value="105">105 minutes</option>
				<option value="110">110 minutes</option>
				<option value="115">115 minutes</option>
				<option value="120">120 minutes</option>
				<option value="125">125 minutes</option>
				<option value="130">130 minutes</option>
				<option value="135">135 minutes</option>
				<option value="140">140 minutes</option>
				<option value="145">145 minutes</option>
				<option value="150">150 minutes</option>
				<option value="155">155 minutes</option>
				<option value="160">160 minutes</option>
				<option value="165">165 minutes</option>
				<option value="170">170 minutes</option>
				<option value="175">175 minutes</option>
				<option value="180">180 minutes</option>
			</select>
		</div>
		<div class="addPage_titles">
			<label class="add-cook-time-label">Cook Time</label>
			<select class="cook-Time">
				<option value="0">0 minutes</option>
				<option value="5">5 minutes</option>
				<option value="10">10 minutes</option>
				<option value="15">15 minutes</option>
				<option value="20">20 minutes</option>
				<option value="25">25 minutes</option>
				<option value="30">30 minutes</option>
				<option value="35">35 minutes</option>
				<option value="40">40 minutes</option>
				<option value="45">45 minutes</option>
				<option value="50">50 minutes</option>
				<option value="55">55 minutes</option>
				<option value="60">60 minutes</option>
				<option value="65">65 minutes</option>
				<option value="70">70 minutes</option>
				<option value="75">75 minutes</option>
				<option value="80">80 minutes</option>
				<option value="85">85 minutes</option>
				<option value="90">90 minutes</option>
				<option value="95">95 minutes</option>
				<option value="100">100 minutes</option>
				<option value="105">105 minutes</option>
				<option value="110">110 minutes</option>
				<option value="115">115 minutes</option>
				<option value="120">120 minutes</option>
				<option value="125">125 minutes</option>
				<option value="130">130 minutes</option>
				<option value="135">135 minutes</option>
				<option value="140">140 minutes</option>
				<option value="145">145 minutes</option>
				<option value="150">150 minutes</option>
				<option value="155">155 minutes</option>
				<option value="160">160 minutes</option>
				<option value="165">165 minutes</option>
				<option value="170">170 minutes</option>
				<option value="175">175 minutes</option>
				<option value="180">180 minutes</option>
			</select>
		</div>
		<div class="addPage_titles">
			<label class="add-dietary-label">Dietary Tags</label>
			<select class="dietary-tags">
				<option class="unclicked">None</option>
				<option class="unclicked">Dairy Free</option>
				<option class="unclicked">Gluten Free</option>
				<option class="unclicked">Vegan</option>
			</select>
		</div>
		
		<div class="addPage_titles">
			<label class="add-flavor-tag-label">Flavor Tags</label>
			<select class="flavor-tags">
				<option class="unclicked">Other</option>
				<option class="unclicked">Chocolate</option>
				<option class="unclicked">Vanilla</option>
				<option class="unclicked">Cheesecake</option>
				<option class="unclicked">Coffee</option>
				<option class="unclicked">Carrot</option>
				<option class="unclicked">Fruity</option>
			</select>
		</div>

	<div id="ingredientsBox">
	<label class="Ingredients-Label">Ingredients</label>

		<label class="ingredients-labels">Quantity</label>

		<label class="ingredients-labels">Unit</label>

		<label class="ingredients-labels">Name</label>



	{{> ingredientsTemplate}}
	
	<label class="Description-label">Description</label>
	<input type="text" name="description" class="description">
	<button type="button" class="nextButton">NEXT</button>
	<button type="button" class="cancelButton">X</button>
</div>


</div>
