<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>
<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>
<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div>
<div class="nameBox">
	<input type="text" name="name-box">
</div>
