<div class="quantity-boxes quantity-box1" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes unit-boxes1">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div
<div class="name-boxes name-boxes1">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes quantity-box2" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes unit-boxes2">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div
<div class="name-boxes name-boxes2">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes quantity-box3" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes unit-boxes3">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div
<div class="name-boxes name-boxes3">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes quantity-box4" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes unit-boxes4">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div
<div class="name-boxes name-boxes4">
	<input type="text" name="name-box">
</div>

<div class="quantity-boxes quantity-box5" >
	<input type="number" name="quantity">
</div>
<div class="unit-boxes unit-boxes5">
	<select>
		<option value="none">None</option>
		<option value="tsp">Tsp</option>
		<option value="tbsp">Tbsp</option>
		<option value="cup">Cup</option>
	</select
</div
<div class="name-boxes name-boxes5">
	<input type="text" name="name-box">
</div>