.main{
  border: 5px solid #64147a;
  border-radius: 10px;
  background-color:#ecddf5;

}

.first-column,
.second-column,
.third-column,
.fourth-column{
   font-size: 20px;
  flex: 1 auto;
  width:auto;
  margin-top:30px;
  margin:15px;
  padding: 20px;
  border: 1px solid #64147a;
  border-radius: 5px;

  background-color:white;
}

.Ingredients-Label{
  font-size: 30px;
  font-weight:bold;

}

#add-ingredient,
#nextButton
{
  border-radius: 5px;
  font-size:15px;
  font-weight:bold;
}

#cancelButton{
  position: absolute;
  right: 23px;
  font-weight:bold;
  font-size:20px;
  background-color:black;
  color: white;
}
