.main{
  border: 5px solid #64147a;
  background-color: #ecddf5;
  border-radius:5px;
  margin:30px;
  padding: 20px;
}

.nextButton{
  border-radius:5px;
  font-size:15px;
  font-weight:bold;
}

.cancelButton{
  border-radius:5px;
  font-size:15px;
  font-weight:bold;
  margin-top: 20px;

  right:23px;
}
