body{
font-family: 'Script Brush';
margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Script Brush MT';
}

a:hover {
  text-decoration: none;
}

header{
	background-color:rgb(192,192,192);
	align-items: top;
	display: flex;
	position: relative;
}

.header-image-container {
  margin: 20px;
	padding: 30px;
	height: 128px;
	width: 128px;
	border-width: 2px;
	background-color: purple;
}

.divide-line{
  margin: 0px;
	width: 100%;
	height: 40px;
	background-color:rgb(100,20,122);
}

.site-title{
	margin: 0px;
	width: 100%;
	height: 72px;
	font-size: 75px;
	text-decoration: underline;
	background-color:rgb(192,192,192;
}

.site-title a:hover {
  text-decoration: none;
}
