<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cake Catalog</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>

    <script src="/CakePostTemplate.js"></script>

    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <h1 class="site-title">Cake Catalog</h1>
      <button class = "site-subtitle" id = "home"> <a href = "http://localhost:3000/">Home</a></button>
        <button class = "site-subtitle" id = "addCake">Add Cake</button>
      <button class = "site-subtitle" id = "cakeCart"> <a href = "http://localhost:3000/cakecart">Cake Cart</a></button>
      <button class = "site-subtitle" id = "infoAuthor"> <a href = "http://localhost:3000/aboutus">About Us</a></button>
    </header>
    <div class= "divide-line"></div>

    {{{body}}}

  </body>

</html>
