<div class="errorContainer">
  <div class="errortext">
    <h2>Error 404</h2>
    <h3>Sorry! Page not found.</h3>
  </div>
  <div class="errorPictureContainer">
  <img src="http://web.engr.oregonstate.edu/~stasackc/girlDog.jpg" alt="No cakes were found!">
  </div>

</div>
