<main class="about-page">

  {{> logo}}

   <div class="author">
     <div class= "author-contents">
     <div class="author-name">

       <div class="author-pic">
        <img src="talpic.jpg" alt="Talia Pic">
          Talia Moretty
       </div>

       <div class="extra info">
         Favorite Cake: Chocolate
       </div>
     </div>
   </div>

</main>
