

       <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="ADpic.jpg" alt="Amanda Dattalo">

            </div>
            <div class = "box">
            
           
            <div class="name">
              Amanda <br>
              Dattalo
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
        
         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="ACpic.jpg" alt="Amanda Crawford">

            </div>
            <div class = "box">
            
           
            <div class="name">
              Amanda <br>
              Crawford
            </div>
            <div class="extra-info">
       Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
        <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="CSpic.jpg" alt="Carly Stasack">

            </div>
            <div class = "box">
            
           
            <div class="name">
              Carly <br>
              Stasack
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
        
         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="TMpic.jpg" alt="Talia Moretty">

            </div>
            <div class = "box">
            
           
            <div class="name">
              Talia <br>
              Moretty
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
