

       <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/22154535_109470416474447_3487282125940770233_n.jpg?oh=fecbdf208036c2fcc20463434067c017&oe=5A8961F2" alt="Amanda Dattalo">

            </div>
            <div class = "box">


            <div class="name">
              Amanda <br>
              Dattalo
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="/recipe/newyorkcheesecake">New York Cheesecake</a>

            </div>

          </div>

        </div>
        </div>

         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/12322391_953152348110320_6421699145399723419_o.jpg?oh=577bd081d2a69178503c1397bd8804e8&oe=5A94B78F" alt="Amanda Crawford">

            </div>
            <div class = "box">


            <div class="name">
              Amanda <br>
              Crawford
            </div>
            <div class="extra-info">
       Favorite Cake: <br>
<a href="recipe/toomuchchocolate">Too Much Chocolate Cake</a>

            </div>

          </div>

        </div>
        </div>
        <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/548402_10202139338831011_1664171499_n.jpg?oh=81b2ce304280f60c243f74bbefd7c09e&oe=5ACA6E4D" alt="Carly Stasack">

            </div>
            <div class = "box">


            <div class="name">
              Carly <br>
              Stasack
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="/recipe/haupia">Haupia Cake</a>

            </div>

          </div>

        </div>
        </div>

         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/11888111_960149850707407_8062573506196718694_n.jpg?oh=cec2d786a925be08b4644252851179c6&oe=5AC5CB0A" alt="Talia Moretty">

            </div>
            <div class = "box">


            <div class="name">
              Talia <br>
              Moretty
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="recipe/yellowcake">Yellow Cake</a>

            </div>

          </div>

        </div>
        </div>
