

       <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="ADpic.jpg" alt="Amanda Dattalo">

            </div>
            <div class = "box">


            <div class="name">
              Amanda <br>
              Dattalo
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>

         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="ACpic.jpg" alt="Amanda Crawford">

            </div>
            <div class = "box">


            <div class="name">
              Amanda <br>
              Crawford
            </div>
            <div class="extra-info">
       Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
        <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/548402_10202139338831011_1664171499_n.jpg?oh=81b2ce304280f60c243f74bbefd7c09e&oe=5ACA6E4D" alt="Carly Stasack">

            </div>
            <div class = "box">


            <div class="name">
              Carly <br>
              Stasack
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="/recipe/haupia">Haupia Cake</a>

            </div>

          </div>

        </div>
        </div>

         <div class="author">

          <div class="author-contents">

            <div class="author-image-container">

              <img src="TMpic.jpg" alt="Talia Moretty">

            </div>
            <div class = "box">


            <div class="name">
              Talia <br>
              Moretty
            </div>
            <div class="extra-info">
                Favorite Cake: <br>
<a href="https://www.lifeloveandsugar.com/2015/02/04/chocolate-oreo-cake/">PUT FAVORITE CAKE LINK HERE</a>

            </div>

          </div>

        </div>
        </div>
