<div>
	<label class="Ingredients-Label">Ingredients</label>
	<aside class="first-column">
		<label class="ingredients-labels">Quantity</label>
	</aside>
	<aside class="third-column">
		<label class="ingredients-labels">Unit</label>
	</aside>
	<aside class="fourth-column">
		<label class="ingredients-labels">Name</label>
	</aside>


	{{> ingredientsTemplate}}
	
	<button type="button" id="add-ingredient">ADD INGREDIENT</button>
	<button type="button" class="nextButton"><a href="http://localhost:3000/addcakedirections">NEXT</a></button>
	<button type="button" class="cancelButton"><a href="http://localhost:3000/">X</a></button>
</div>
