<div>
	<label class="Description-label">Description</label>
	<input type="text" name="description">
	<button type="button" class="cancelButton">X</button>
	<button type="button" class="nextButton">NEXT</button>
	<button type="button" id="add-post"> ADD POST</button>
</div>
