<div>
	<label class="Ingredients-Label">Ingredients</label>
	<aside class="first-column">
		<label class="ingredients-labels">Quantity</label>
		<div class="quanity-boxes">
			<input type="number" name="quantity">
			<input type="number" name="quantity">
			<input type="number" name="quantity">
			<input type="number" name="quantity">
			<input type="number" name="quantity">
		</div>		
	</aside>
	<aside class="second-column">
		<label class="ingredients-labels">Unit</label>
		<div class="unit-number-boxes">
			<input type="number" name="unit-amt">
			<input type="number" name="unit-amt">
			<input type="number" name="unit-amt">
			<input type="number" name="unit-amt">
			<input type="number" name="unit-amt">
		</div>
	</aside>
	<aside class="third-column">
		<label class="ingredients-labels">Unit</label>
		<div class="unit-number-unit-boxes">
		<select>
			<option value="tsp">Tsp</option>
			<option value="tbsp">Tbsp</option>
			<option value="cup">Cup</option>
		</select>
		</div>
	</aside>
	<aside class="fourth-column">
		<label class="ingredients-labels">Unit</label>
		<div class="name-boxes">
			<input type="text" name="name-box">
			<input type="text" name="name-box">
			<input type="text" name="name-box">
			<input type="text" name="name-box">
			<input type="text" name="name-box">
		</div>	
	</aside>
	<button type="button" id="add-ingredient">ADD INGREDIENT</button>
	<button type="button" class="cancelButton">CANCEL</button>
	<button type="button" class="nextButton">NEXT</button>
	<button type="reset" class="cancelButton">RESET</button>
</div>
