<main class="content">

  <div class = "sidebar">

    {{> filterBox}}

    {{> logo}}

  </div>

  <section id="posts">

  {{#each cakesArray}}
    {{> cakeCartPost}}
  {{/each}}

  </section>

</main>
