<main class="content">

  <div class = "sidebar">


    {{#unless cartTrue}}
      {{> filterBox}}
    {{/unless}}

    {{> logo}}

  </div>

  <section id="posts">

  {{#each cakesArray}}
    {{> cakePost}}
  {{/each}}

  </section>

  {{#unless cartTrue}}
    <button class="add-cake-homepage-button" id = "addCakeButtonHomepage">Add Cake</button>

    {{> addPage1}}
  {{/unless}}

</main>
