<main class="content">

  <div class = "sidebar">

    {{> filterBox}}

    {{> logo}}

  </div>

  <section id="posts">

  {{#each cakesArray}}
    {{> cakePost}}
  {{/each}}

  </section>
  {{> addPage1}}
</main>
