<main class="content">

  <div class = "sidebar">


    {{#unless cartTrue}}
      {{> filterBox}}
    {{/unless}}

    {{> logo}}

  </div>

  <section id="posts">

  {{#each cakesArray}}
    {{> cakePost}}
  {{/each}}

  <button class = "site-subtitle" id = "addCake">Add Cake</button>

  </section>
  {{> addPage1}}
</main>
