<body>
<div class="recipe-page-content">
  <div class="cake-photo-container">
    <img src = "https://static.pexels.com/photos/353347/pexels-photo-353347.jpeg" alt="recipe name!">
  </div>
  <div class="space-holder">

  </div>
  <div class="cake-all-info-container">
    <h2>Recipe Name</h2>
    
    <div class="cake-tag-container">
      <h3>Quick Info: </h3>
      <span class="cake-flavor">Flavor: Vanilla</span><span class="dietary-tag">Dietary Tag: Vegan</span><span class="serving-number">Servigs: 25</span><span class="prep-time">Prep time: 45 minutes</span><span class="cook-time">Cook Time: 90 minutes</span>
    </div>

   <div class="ingredient-list-container">
   <h3>Ingredient List: </h3>
     <ul class="ingredient-list">
       <li>Ingredient 1</li>
       <li>Ingredient 2</li>
       <li>Ingredient 3</li>
       <li>Ingredient 4</li>
     </ul>
   </div>

   <div class="directions-container">
   <h3>Directions: </h3>
     <span class="directions-paragraph">Paragraph of directions andalskdjfwoeijrralksfa; ioerisfkjaoeirpawflsakfeo.</span>
   </div>



   <button type="button" id="recipe-add-to-cart-button" class="cart-button">Add to Cart</button>


   </div>
  </div>
  </body>
