/* Colors:
Dark Purple: rgb(100, 20, 122) #64147a
Grey: rgb(192, 192, 192) #c0c0c0
Black: rgb(0, 0, 0) #000000
White: rgb(255, 255, 255) #ffffff
Cream: rgb(254, 241, 232) #fef1e8
Light Grey: rgb(234, 234, 234) #eaeaea
Light Purple: rgb(236, 221, 245) #ecddf5
*/

body {
font-family: 'Nunito', sans-serif;
margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/*****************************
Carly CSS here
*****************************/

main{
	display: flex;
}

#posts{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align: center;
	margin: auto;
}
.cake-post-container{
	display: inline-block;
	vertical-align: top;
}

.cake-post-container img{
	margin: 10px;
	height: 200px;
	border: 2px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
}


.filter{
  width: 225px;
  height: 275px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  background-color: rgb(236, 221, 245);
	border: 2px solid #64147a;
  display: flex;
	flex-direction: column;
}



/************************************
AMANDA CSS STARTS HERE
*************************************/

#modal-background{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65)
}

#post-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

 .hidden{
    display: none;
}

.modal-dialog{
    border: 2px solid #64147a;
    border-radius: 5px;
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fef1e8;
}

.modal-title {
    position: relative;
    padding: 10px 20px;
}
.modal-title h3{
    margin: 0;
    font-size: 28px;
}

#add-to-cart-button{
    position: absolute;
    right: 75px;
    top: 5px;
    font-size: 14px;
    border: none;
    color: #fef1e8;
    background: #64147a;
    padding: 5px;
    cursor: pointer;
}
#close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 14px;
    border: none;
    color: #fef1e8;
    background: #64147a;
    padding: 5px;
    cursor: pointer;
}
.modal-image-container{
    background: #ecddf5l;
    margin: auto;
    border: 2px solid #64147a;
    max-height: 220px;
    max-width: 350px;
    border-radius: 3px;
}
.modal-image-container img{
    height: 220px;
    display: block;
    margin: auto;

}

.modal-info-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dietary-tag,
.cake-flavor,
.serving-number,
.prep-time,
.cook-time
{
  display: inline-block;
  font-size: 80%;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid black;
  border-radius: 3px;
  background: #ecddf5;
}
.modal-footer{
  border-top: 1px solid black;
  margin: auto;
  text-align: center;
  background-color: #64147a;
}
.recipe-link{
  color:#fef1e8;
  font-size: 15pt;
  text-decoration: none;
}

#recipe-add-to-cart-button{
  background-color: #64147a;
  height: 40px;
  width: 120px;
  color: #fef1e8;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 10px;
}
.recipe-page-content{
  margin-top: 20px;
  background: #c0c0c0;
}

.cake-photo-container{
   width: 80%;
   height: 250px;
   background:  #fef1e8;
   border: 2px solid #64147a;
   border-radius: 5px;
   display: flex;
   margin: auto;
}
.cake-photo-container img{
  display: block;
  margin: auto;
  height: 100%;
}
.space-holder{
  height: 50px;
}
.cake-all-info-container{
   background: #fef1e8;
   border: 2px solid #64147a;
   border-radius: 5px;
   display: block;
   margin: auto;
   width: 80%;
}

.cake-all-info-container h2{
  text-align: center;
  color: #64147a;
  text-decoration: underline;
  font-size: 50px;
  font-family: "Brush Script Mt", sans-serif;
}
.modal-info-container,
.cake-tag-container,
.ingredient-list-container,
.directions-container {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px 10px 10px 10px;
  background: #eaeaea;
  border: 1px solid black;
  border-radius: 3px;
}
.modal-info-container h3,
.cake-tag-container h3,
.ingredient-list-container h3,
.directions-container h3{
  color: #64147a;
  font-size: 15px;
   width: 90%;
}

/****************************************************
TALIA'S CODE STARTS HERE
*****************************************************/
/*Adding Pages*/

.main{

  border: 5px solid #64147a;

  border-radius: 10px;

  background-color:#ecddf5;

}



.pageTitle{

  font-weight:bold;

  font-size: 50px;

  text-align:center;

  padding:20px;

}



.addPage_titles{
  font-size: 25px;
  flex: 1 auto;
  width: 50%;
  margin-top:30px;
  margin:15px;
  padding: 20px;
  border: 3px solid #64147a;
  border-radius: 5px;
  font-weight:bold;
  background-color:#eaeaea;

}

.add-title-input{
  width 50%;
  height:25px;
  padding:10px;
  font-size:15px;
}

.add-URL-input{
   width:50%;
  height:25px;
  padding:10px;
  font-size:15px;
}


#add-ingredient{
    position:absolute;
    right:95px;
    font-size: 14px;
    border:2px solid #64147a;
    background: #eaeaea;
    padding: 20px;
    cursor: pointer;
}


.cancelButton{
    position: fixed;
    right: 10px;
    font-size: 20px;
    border:2px solid #64147a;
    background: #eaeaea;
    padding: 10px;
    cursor: pointer;
}


.nextButton{
    position: fixed;
    font-size: 20px;
    right:35px;
    border:2px solid #64147a;
    background: #eaeaea;
    padding: 10px;
    cursor: pointer;
}

.first-column{
  width = 50%;
  display:flex;
}

.second-column{
  display: flex;
  width:100%;
}

.third-column{
  display: flex;
  width:100%;
}


.fourth-column{
  display: flex;
  width:100%;
}

.ingredients-labels{
  font-size: 25px;
  flex: 1 auto;
  width:50%;
  margin-top:30px;
  margin:15px;
  padding: 20px;
  border: 3px solid #64147a;
  border-radius: 5px;

  font-weight:bold;

  background-color:#eaeaea;

}




.Ingredients-Label{

  font-weight:bold;

  font-size:30px;

//  margin-left: 400px;

  padding:20px;

}



.descriptionClass{
  font-size: 25px;
  flex: 1 auto;
  width:100%;
  margin-top:30px;
  margin:15px;
  padding: 20px;
  border: 3px solid #64147a;
  border-radius: 5px;
  font-weight:bold;
  background-color:#eaeaea;
}

.description{
  width:50%;
  height:25px;
  padding:10px;
  font-size:15px;
 }


/*HEADER CSS*/
header{
   background-color: #ecddf5;
   width: 100%;
   align-items: center;
   display: flex;
   position: relative;
}
.site-title-container{
	width: 65%;
}

.site-title {
  font-size: 80px;
  text-decoration: none;
  font-family: "Brush Script Mt", sans-serif;
  margin:0 0 0 0px;
  display: flex;
}

.content {
  display: flex;
  margin: 0 0 0 0px;
}

h1:hover {
  text-decoration: none;
}



h1 {
  text-decoration: none;
  color: black;
  display: flex;
}

.header-image-container img {
  width: 225px;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.divide-line {
  width: 100%;
  height: 30px;
  display: flex;
  background-color: rgb(100, 20, 122);
}

.site-title a:hover {
  text-decoration: none;
}

#home {
  cursor: pointer;
  text-decoration: none;
  background-color: #fef1e8;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  height: 70px;
  width: 100px;
}

#cakeCart {
  cursor: pointer;
  text-decoration: none;
  background-color: #fef1e8;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  height: 70px;
  width: 100px;
}

#infoAuthor {
  cursor: pointer;
  text-decoration: none;
  background-color: #fef1e8;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  height: 70px;
  width: 100px;
}

#home a:hover {
  background-color: #64147a;
  color: white;
  font-weight: bold;
}

#cakeCart a:hover {
  background-color: #64147a;
  color: white;
  font-weight: bold;
}


#infoAuthor a:hover {
  background-color: #64147a;
  color: white;
  font-weight: bold;
}



/*ABOUT ME CSS*/

.author {
  display: inline-block;
  vertical-align: top;
  height: 400px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 5px solid  #64147a;
  border-radius: 70px;
  background-color:#ecddf5;
}

.author-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}


.author-image-container img {
  align-items: center;
  margin-top: 1px;
  max-height: 240px;
  max-width: 300px;
  border: 2px solid #eaeaea;
  border-radius: 50px;
  
  }
  


.box{
    
    background-color:#eaeaea;
    width:80%;
    border-radius: 20px;
  }
  .name{
    padding: 15px;
    text-align:center;
    font-size: 25px;
  }
  
  .extra-info{
    text-align:center;
    font-size:18px;
  }
  .extra-info a{
    color: #64147a;
  }
  
  /* FILTER */


.filter-input-box{
  display: flex;
  max-width:220px;

}


.filter-input{
  margin: 0px 0px 5px 5px;
  height: 20px;
  display: flex;
  flex: 1 auto;
  width: 25%;

}

.filter-input-box{
   height: 20px;
  display: flex;
  flex: 1 auto;

}
.search-button{
  font-weight:bold;
  height: 40px;
  font-size:23px;
}

.search-button a:hover{
  font-weight:bold;
  background-color: #64147a;

}

//|| ADD NEW CAKE BUTTON||

.add-cake-homepage-button{
	background-color: #64147a;
	height: 40px;
	width: 120px;
	color: #fef1e8;
	font-size: 20px;
	position: fixed;
	right: 20px;
	bottom: 10px;
}

//Error page
.mainError{

  border: 5px solid #64147a;
  border-radius: 10px;
  background-color:#ecddf5;
  
//  width: 400px;
  text-align:center;
  padding:30px;
  
  font-size:30px;
  font-weight:bold;
}


.Error-pic-Container{
  width:700px;
  height:700px;
}

