#modal-background{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65)
}

#post-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

/*
 .hidden{
    display: none;
}
*/
.modal-dialog{
    border: 2px solid #64147a;
    border-radius: 5px;
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #eaeaea;
}

.modal-title {
    position: relative;
    padding: 10px 20px;
}
.modal-title h3{
    margin: 0;
    font-size: 28px;
}

#add-to-cart-button{
    position: absolute;
    right: 75px;
    top: 5px;
    font-size: 14px;
    border: none;
    color: #fef1e8;
    background: #64147a;
    padding: 5px;
    cursor: pointer;
}
#close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 14px;
    border: none;
    color: #fef1e8;
    background: #64147a;
    padding: 5px;
    cursor: pointer;
}
.modal-image-container{
    background: #ecddf5l;
    margin: auto;
    border: 2px solid #64147a;
    max-height: 220;
    max-width: 350px;
    border-radius: 3px;
}
.modal-image-container img{
    max-height: 100%;
    max-width: 100%;
    
}

.modal-info-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dietary-tag,
.cake-flavor,
.serving-number,
.prep-time,
.cook-time
{
  display: inline-block;
  font-size: 80%;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid black;
  border-radius: 3px;
  background: #ecddf5;
}
.modal-footer{
  border-top: 1px solid black;
  margin: auto;
  text-align: center;
  background-color: #64147a;
}
.recipe-link{
  color:#fef1e8;
  font-size: 15pt;
  text-decoration: none;
}
